{% extends "base.html" %}
{% block title %}Confirm your account{% endblock %}
{% block content %}
    <h1>
        Hello,{{ current_user.username }}
    </h1>
    <h3>
        You have not confirmed your account yet
    </h3>
    <p>
        You will need to confirm your account before you can browse.
        Check your email and you should receive a confirmation email
    </p>
    <p>
        Do you need a message again??
        <a href="{{ url_for('auth.resend_email') }}">please click here</a>
    </p>
{% endblock %}
